@charset 'UTF-8';

body {
    width: 100%;
    padding-top: 10px;
    justify-content: center;
    align-content: center;
}

li {
    list-style: none;
}

input[type=text]:focus{
      outline: none;
    }


nav {
    position: fixed;
    display: flex;
    justify-content: flex-start;
    flex: 1;
    border-bottom: 1px solid #ddd;
    width: 100%;
    padding-bottom: 30px;
}

nav > .m-nav {
    font-size: 25px;
    font-weight: bolder;
    margin: 10px 50px 0 100px;
    letter-spacing: 3px;
}

nav > .m-search {
    border: 2px solid #ddd;
    border-radius: 3px;
        padding: 8px 2px 4px 5px;
}

nav > .m-search > span > button, input {
    border: none;
    background-color: #fff;
}

nav>.m-event,.m-ideas,.m-sort {
       margin: 5px 4px 0 60px;
    font-size: 20px;
    font-weight: bold;
}
