@charset 'UTF-8';

body {
    display: flex;
    width: 100%;
    padding-top: 10px;
    justify-content: center;
    align-content: center;
}

li {
    list-style: none;
}

input[type=text]:focus{
      outline: none;
    }


nav {
    position: fixed;
    display: flex;
    justify-content: flex-start;
    flex: 1;
    border-bottom: 1px solid #ddd;
    width: 100%;
    padding-bottom: 30px;
}

nav > .m-nav {
    font-size: 25px;
    font-weight: bolder;
    margin: 10px 50px 0 100px;
    letter-spacing: 3px;
}

nav > .m-search {
    border: 2px solid #ddd;
    border-radius: 3px;
        padding: 8px 2px 4px 5px;
}

nav > .m-search > span > button, input {
    border: none;
    background-color: #fff;
}

nav>.m-event,.m-ideas,.m-sort {
       margin: 5px 4px 0 60px;
    font-size: 20px;
    font-weight: bold;
}
header {

    width: 100%;
}
header>.m-title {
      margin: 100px 0 0 109px;
    font-size: 38px;
    font-weight: bold;
    font-family: monospace;
    word-spacing: 5px;
}
header>.m-scroll>ul {
display: flex;
}
header>.m-scroll>ul>li {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
margin: 20px 20px 0 -2px;
box-shadow: 2px 2px  2px 2px #ccc;
border-radius: 2px;
font-weight: bold;
color: #666;
font-family: monospace;
}
header>.m-scroll>ul>li>span {
    padding: 20px 0 20px 0;
}