@charset 'UTF-8';

body {
    padding-top: 10px;
    justify-content: center;
    align-content: center;
}

li {
    list-style: none;
}

nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
}

nav > .m-nav {
    font-size: 27px;
    font-weight: bolder;
    margin: 0 50px 0 150px;
    letter-spacing: 2px;
}

nav > .m-search {
    border: 2px solid #ddd;
    border-radius: 3px;
}

nav > .m-search > span > button, input {
    border: none;
    background-color: #fff;
}

nav > .m-event {
    outline: none;
}
